@page
@model RecipeApi.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Recipes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipes.RecipeId" />
            <div class="form-group">
                <label asp-for="Recipes.RecipeName" class="control-label"></label>
                <input asp-for="Recipes.RecipeName" class="form-control" />
                <span asp-validation-for="Recipes.RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipes.DirectionId" class="control-label"></label>
                <input asp-for="Recipes.DirectionId" class="form-control" />
                <span asp-validation-for="Recipes.DirectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
