@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="width: 100%; height: 150px; background-color: darkseagreen; color: #000000; text-align:center; font-size: 3vw; margin: auto;">
    <p>Hackathon 2020 - Team 8</p>
    <p>Recipe Sharing API</p>
</div>
<div>
    <div style="display:inline-block; float:right;">
        <a href="/swagger">Swagger</a> | <a href="/Recipes">Recipes</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Application uses</h2>
        <ul>
            <li>User our web interface to add, edit, and categories your recipes</li>
            <li>The mobile app allows you to see your recipes anywhere you go</li>
            <li>Easily Share your recipes with family and friends</li>
            <li>You also have the option to keep them separate</li>
            <li>If you are a developer you can consume the API, and come up with your own creative uses</li>
            <li>Food and Beverage Industry can store recipes, and keep them private</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>How to</h2>
        <ul>
            <li><a href="#">Use the API and customize your own use</a></li>
            <li><a href="#">Clone the repositories and extend the services</a></li>
            <li><a href="#">Use in your Business</a></li>
            <li><a href="#">Store your recipes</a></li>
            <li><a href="#">Share your recipes</a></li>
        </ul>
    </div>
</div>
